streamlit
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-groq==0.3.7
chromadb
pypdf
google-generativeai
python-dotenv
sentence-transformers
transformers
torch
faiss-cpu
huggingface-hub
